<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Graph -->
      <package
            uri="http://it.univaq.MDEProfiler/graph"
            class="it.univaq.MDEProfiler.graph.model.graph.GraphPackage"
            genModel="model/Graph.genmodel"/>
   </extension>

</plugin>
